                    <td><%= order %></td>
                    <td ><span data-tooltip aria-haspopup="true" class="has-tip" 
                            title="<%= url %>"><%= desc %></span>
                    </td>
                    <td>
                        <input type="checkbox" <% if(enable) {%>checked<%} %> ><label>生效</label>
                    </td>
                    <td>
                        <ul class="button-group radius">
                            <li><a href="#" class="tiny button remove">删除</a></li>
                        </ul>
                    </td>
