                    <td><%= order %></td>
                    <td><%= desc %></td>
                    <td><span data-tooltip aria-haspopup="true" class="has-tip" 
                            title="替换为: <%= new_url %>"><%= old_url %></span></td>
                    <td>
                        <ul class="button-group radius">
                            <li><a href="#" class="tiny button remove">删除</a></li>
                            <li><a href="#" class="tiny button recommend">推荐</a></li>
                        </ul>
                    </td>
